<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Update User</title>
</head>
<body>
<h1>Edit user: <span th:text="${user.name}"></span></h1>

<form th:method="POST" th:action="@{/admin/update}">
    <input type="hidden" name="id" th:value="${user.id}"/>

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:value="${user.name}"/>
    <br/><br/>

    <label for="email">Email:</label>
    <input type="text" id="email" name="email" th:value="${user.email}"/>
    <br/><br/>

    <!-- ВЫБОР РОЛЕЙ (чекбоксы) -->
    <h3>Select Roles:</h3>
    <div th:each="role : ${roles}">
        <label>
            <input type="checkbox"
                   name="roleIds"
                   th:value="${role.id}"
                   th:checked="${#lists.contains(userRoleIds, role.id)}"/>
            <span th:text="${role.name}"></span>
        </label>
        <br/>
    </div>
    <br/>

    <input type="submit" value="Update"/>
</form>

<br/>
<hr/>

<h1>Delete user</h1>
<form th:method="POST" th:action="@{/admin/delete}">
    <input type="hidden" name="id" th:value="${user.id}"/>
    <input type="submit" value="Delete"/>
</form>

<br/>
<hr/>
<div class="actions">
    <a th:href="@{/logout}">Logout</a>
</div>
</body>
</html>